[Unit]
Description=Start Mate Splash Boot screen
DefaultDependencies=no
After=network.target

[Service]
StandardOutput=journal
Restart=no
RemainAfterExit=yes
ExecStart=/opt/mate/boot.png
TimeoutSec=0

[Install]
WantedBy=sysinit.target
