[Unit]
Description=boot splash screen

[Service]
ExecStart=/usr/bin/python3 /opt/kangadesk/framebuffer.py -img /opt/kangadesk/splash.png

[Install]
WantedBy=basic.target
